.item {
  background-color: rgb(249, 249, 249);
  border-radius: 6px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;



}

.section{
  display: flex;
  flex-direction: row;
  min-height: 700px;
}

.image {
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 40rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;



}

.image img {
  margin-top: -50px;
  margin-left: 0%;
  width: 100%;

  object-fit: cover;

  background-color: #77002e;
}

.content {
 
  text-align: center;
  
  padding: 1rem;
 
  display: flex;

  flex-direction: row;



}

.h3 {
  font-size: 3.5rem;

  height: 40px;
  color: #2c292b;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 15px;
}

.actions {
  padding: 1rem;
  text-align: center;
  width:200px;
  height: 150px;
  margin-top: 25%;
  margin-left: 9%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.actions button {
  font: inherit;

  cursor: pointer;

  color:  #1a2920;

  border: 1px solid #77002e;

  background-color: transparent;

  padding: 0.5rem 1.5rem;

  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #e5e2ff;

  
}